<% throw_content :for_header do %>
  <h1>
    All Blogs
    <% for page in Blog.pages %>
      <a href="<%= slice_url(:blog_by_date, page.year, page.month, page.path_title) %>"><%= page.title %></a>
    <% end %>
  </h1>
<% end %>

<ul class="unlist" id="blogs">
  <% for blog in @blogs %>
    <% css_class = blog.published_at ? 'published' : 'unpublished' %>
    <li class="preview dot <%= css_class %>">
      <%= print_date( blog.published_at || blog.created_at ) %>
      <div class="blog">
        <h3>
          <a href="<%= slice_url(:blog_by_date, blog.year, blog.month, blog.path_title) %>"><%= blog.title %></a>
        </h3>
        <p class="tags">
          <% for tag in blog.tags %>
            <span class="tag">&nbsp;<%= tag.name %>&nbsp;</span>
          <% end %>
        </p>
        <%= blog.preview %>
      </div>
    </li>
  <% end %>
</ul>

<% if @blogs.prev %>
  <% opts = { :page => @blogs.prev.number } %>
  <a href="<%= @category ? slice_url(:category, opts.merge( :category_title => @category.title )): slice_url(:blogs, opts) %>">Previous</a>
<% end %>

<% if @blogs.next %>
  <% opts = { :page => @blogs.next.number } %>
  <a href="<%= @category ? slice_url(:category, opts.merge( :category_title => @category.title )): slice_url(:blogs, opts) %>">Next</a>
<% end %>